.sec_sp {
    flex: 1;
    display: flex;
    flex-direction: row; /* Adjust direction for mobile */
    justify-content: center; /* Align items vertically at the center for main */
    align-items: center; /* Align items horizontally at the center for main */
    padding-bottom: calc(3rem + 5.128vw)
}
.sec_sp img {
    max-width: 100%; /* Adjust for responsiveness */
    height: auto; /* Maintain aspect ratio */
    max-height: calc(100vh - 100px); /* Adjusted to account for padding */
}
.img-content {
    flex: 0.6;
    padding-right: 50px;
}
.text-content {
    flex: 0.4
}
.tiny-link-container {
    max-width: 100px;
    max-height: 50px;
}

@media screen and (max-width: 768px) {
    .sec_sp {
        flex-direction: column; /* Adjust direction for mobile */
    }
    .img-content {
        padding-right: 0;
    }
}
