body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: row; /* Adjust direction for mobile */
    justify-content: center; /* Align items vertically at the center for main */
    align-items: center; /* Align items horizontally at the center for main */
    height: 100vh;
}

.main img {
    max-width: 100%; /* Adjust for responsiveness */
    height: auto; /* Maintain aspect ratio */
    margin-right: 50px;
    max-height: calc(100vh - 100px); /* Adjusted to account for padding */
}

.main-image {
    flex: 0.7
}
.main-content {
    flex: 0.3;
}

.text-content {
    margin: 20px 0;
    text-align: center; /* Center text */
}

.single-image {
    flex: 1;
    display: flex;
    flex-direction: row; /* Align image and text in a column for singleImage */
    align-items: center; /* Align items horizontally at the center for singleImage */
    padding-bottom: 25px;
}

.single-image-wrapper {
    flex: 0.6
}

.single-image-content {
    flex: 0.4;
    padding: 20px;
    margin-bottom: 50px; /* Add margin to the bottom of the text */
}

.single-image img {
    max-width: 100%; /* Adjust for responsiveness */
    height: auto; /* Maintain aspect ratio */
    margin-top: 50px;
    margin-right: 50px;
    max-height: calc(100vh - 100px); /* Adjusted to account for padding */
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 25px;
    padding-bottom: 25px;
}

.gallery div {
    display: flex;
    flex-direction: column;
    flex: 1;
    max-width: 100%;
    align-items: center; /* Center the content horizontally */
    margin: 15px; /* Add margin for gap between items */
    margin-top: 50px;
}

.gallery-text {
    margin-top: 20px;
    width: 100%; /* Take up the full width */
    text-align: center; /* Center the text within the div */
}

.gallery div img {
    width: 100%; /* Make sure the image takes up the full width */
    height: auto; /* Maintain aspect ratio */
}


.text {
    flex: 1;
    display: flex;
    flex-direction: row; /* Adjust direction for mobile */
    margin-top: 25px;
}

.text .text-content {
    text-align: justify;
}

.text img {
    max-width: 100%; /* Adjust for responsiveness */
    height: auto; /* Maintain aspect ratio */
    margin-top: 50px;
    max-height: calc(100vh - 100px); /* Adjusted to account for padding */
}

.text-image-wrapper {
    flex: 0.5
}

.text-content-wrapper {
    flex: 0.5;
    padding: 20px;
    margin-bottom: 50px; /* Add margin to the bottom of the text */
}

/* Media query for screens with a maximum width of 768px (adjust as needed) */
@media screen and (max-width: 768px) {
    .main {
        flex-direction: column; /* Display main section in a column on smaller screens */
        align-items: center;
        height: 50vh;
    }

    .main-image img {
        max-height: 100%; /* Adjust height to fit the screen on smaller screens */
        padding: 0; /* Remove padding on smaller screens */
        margin-right: 0;
    }

    .single-image img {
        max-height: 100%; /* Adjust height to fit the screen on smaller screens */
        padding: 0; /* Remove padding on smaller screens */
        margin-right: 0;
    }

    .single-image {
        flex-direction: column; /* Display main section in a column on smaller screens */
        align-items: center;
        margin-bottom: 50px;
    }

    .text {
        flex-direction: column;
        align-items: center;
    }
    .text img {
        max-width: 100%; /* Adjust maximum width for the image */
        height: auto; /* Maintain aspect ratio */
        margin-right: 0;
    }
}
